<link href="https://fonts.googleapis.com/css?family=Kalam|Mukta+Vaani:800|Varela+Round|Varela|Muli:400,700,900|Indie+Flower" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript">

  <% if current_user %>
    window.currentUserData = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>
<main id='root'>
</main>
