// Place all the styles related to the API::Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.event-index{
  display: flex;
  flex-wrap: wrap;
  // background-color: aliceblue;
}

.event-item{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: darken($blue, 10);
  position: relative;
  margin: 20px;
  .host {

    position: absolute;
    // width: 100%;
    // height: 100%;
    top: 8%;
    right: 20%;
    text-align: center;
    #host{
      text-transform: uppercase;
      font-size: 90%;
      opacity: .5;
      margin-bottom: 5px;
    }
    #name{
      font-size: 120%;
    }
    // right: -20%;
  }
  .date {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $blue;
    width: 85px;
    height: 85px;
    position: absolute;
    left: -5%;
    top: -5%;
    border-radius: 5px;
    #day {
      font-size: 90%;
      opacity: .5;
    }
    #date {
      font-size: 120%;
      font-weight: bold;
    }
    #time {
      font-size: 90%;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    li{
      margin: 5px;
    }
    button{
      background-color: lighten($blue, 30%);
      // background-color: $link;
      font-weight: bold;
      color: white;
      margin: 6px;
      // border-radius: 100%;
      // width: 60px;
      // height: 60px;
    }
  }
}
.hosted {
  border: 1px solid $link;
  background-color: transparentize($link, 0.9);
}
