// Place all the styles related to the API::SessionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';
.auth {
  background-image: url(http://res.cloudinary.com/samtfm/image/upload/e_brightness:-80/e_contrast:-80/e_blue:32/v1495558030/piano_bw.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 120px); //footer-height + header-height
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    // padding-top: 20px;
    margin: 20px;
    font-size: 28px;
  }
  p{
    text-align: center;
  }
  form {
    width: 300px;
    background-color: rgba(240,240,240,.8);
    border-radius: 4px;
    a {
      color: $link;
    }
    height: 100%;
    max-height: 300px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    input, p {
      margin: 5px;
      // width: 100px;
    }
    p {
      font-size: 18px;
    }
    #inputs{
      text-align: center;
      margin: 20px;
    }
    button{
      // background-color: white;
      // background-color: $jam;
      background-color: $jam;
      color: white;
    }
  }
}

ul.errors {
  li {
    color: $jam;
    font-size: 14px;
    text-align: center;
    margin: 5px;
  }
}
