$footer-height: 60px;
$header-height: 60px;

$button: #843346;
$brown: #261E1A;
$blue: #EEE;
$light-gray: #CCC;
$light-blue: rgb(173, 183, 207);

$jam: #A2102A;
$city-tint: rgba(100,80,200,0.4);
$link: #56D; // #3AB;
