// $brown: #463730;
// $blue: #1F5673;
// $light-blue: #759FBC;
// $light-green: #90C3C8;
// $jam: #82204A;

// $brown: #261E1A;
// $blue: #204F68;
// // $light-blue: #84ACC9;
// $light-blue: #ABBCC9;
// $light-green: #A2E2E8;
// $jam: #82204A;

// $brown: #262626;
// $blue: #D6A67C;
// // $light-blue: #84ACC9;
// $light-blue: #C5C7C9;
// $light-green: #ffffff;
// $jam: #82204A;


// $brown: #261E1A;
// $blue: #DDA373;
// // $light-blue: #84ACC9;
// $light-blue: #ABBCC9;
// $light-green: #D6CDC5;
// $jam: #82204A;
// $city-tint: rgba(120,50,120,0.6);

// $button: #843346;
// $brown: #261E1A;
// // $blue: #501020;
// $blue: #702030;
//
// // $light-blue: #84ACC9;
// $light-blue: #ABBCC9;
// $light-green: rgba(120,80,100,1);
// $jam: #82204A;
// // $city-tint: rgba(120,50,120,0.6);
// $city-tint: rgba(120,80,160,0.4);
// $link:  #88DDff;
// // $link: #B7FFFF;


$button: #843346;
$brown: #261E1A;
// $blue: #501020;
$blue: #EEE;
$light-gray: #AAA;
// $light-blue: #84ACC9;
$light-blue: #ABBCC9;
$light-green: rgba(120,80,100,1);
$jam: #A2102A;
// $city-tint: rgba(120,50,120,0.6);
$city-tint: rgba(100,80,200,0.4);
$link: #36D; // #3AB;
// $link: #B7FFFF;
