
@import 'variables';

* {
  // font-family: Verdana, Geneva, sans-serif;
  // font-family: 'Varela Round', sans-serif;
  // font-family: 'Varela', sans-serif;
  font-family: 'Muli', sans-serif;
}
html{
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}
body{
  background-color: $light-gray;
  color: black;
  position: relative;
  min-height: 100%;
  padding-bottom: $footer-height;
}
.body{
  //TODO: make outside of body lighter shade of gray
  // height: 100%;
  max-width: 1000px;
  // background-color: #BBB;
  margin: 0 auto;
}
.footer{
  height: $footer-height;
  background-color: #999;
  float: bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}

a{
  color: $link;
}
h1, h2{
  text-align: center;
}
h2{
  color: darken($link, 13);
  font-size: 22px;
  font-weight: bold;
}
input[type=text], input[type=password], input[type=time], input[type=date], select, textarea{
  border-radius: 3px;
  padding: 4px;

}

select {
  background-color: white;
  margin: 5px;
}
// option:checked, option:hover{
//   // background: $link;
// }
// ::-webkit-input-placeholder{
//   font-size: 14px;
// }

button, input[type=submit]{
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  color: $jam;
  background-color: white;
  font-weight: bold;
	border-radius:3px;
  filter: brightness(95%);
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  &:hover{
    filter: brightness(115%);
  }
}
button.jam {
  color: white;
  background-color: $jam;
}
button.white {
  color: $jam;
  background-color: white;
  border: 1px solid transparentize($jam, .4);
}
input[type=submit]{
  // border: 2px solid $blue;
}
