
@import 'variables';

* {
  font-family: Verdana, Geneva, sans-serif;
}

body{
  background-color: black;
  color: white;
}
a{

  color: $link;
}
h2{
  font-size: 22px;
}
input[type=text], input[type=password]{
  border-radius: 3px;
  padding: 4px;

}
::-webkit-input-placeholder{
  font-size: 14px;
}
.header {
  button{
    background: none;
    font-weight: bolder;
    color: $link;
    border: 2px solid transparent;
    height: auto;
    padding: 5px;
    width: auto;
    transition: border .2s;
    &:hover{
      // color: white;
      border-bottom: 2px solid $link;
    }
  }
  .active button{

    // border: 2px solid $button;
  }
}
button, input[type=submit]{
  cursor: pointer;
	border-radius:3px;
  filter: brightness(95%);
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  &:hover{
    filter: brightness(100%);
  }
  // &:focus{
  //   outline: 1px solid blue;
  // }
}

input[type=submit]{
  // border: 2px solid $blue;
}
