@import 'variables';

h2.body-title {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 26px;
  padding: 5px;
  width: 95%;
  color: darken($jam, 25);
  font-weight: bold;
  border-bottom: 2px solid $jam;
}
.event-form{
  background-color: $blue;
  border-radius: 5px;
  border: 1px solid $link;
  margin: auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  .dateTime{
    height: 500px;
  }
  label, div.buttons{
    display: flex;
    // flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    input, textarea, select {
      margin: 5px;
      width: 200px;
    }
  }
  label{
    width: 300px;
    margin-left: 0;
    margin-right: 75px;
  }
  textarea{
    height: 120px;
    resize: vertical;
    overflow: auto;
  }
  div.buttons {
    width: 80%;
  }
  button{
    width: 45%;
    margin: 10px;
  }
}
.modal{
  font-family: 'muli', sans-serif;
  width: 90%;
  // height: 600px;
  // background-color: $light-gray;
  max-width: 500px;
  min-width: 300px;
  max-height: 600px;
  // min-height: 400px;
  margin: auto;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid $jam;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 10px;

  font-size: 18px;
}

.delete-warning{
  display: flex;
  background-color: #eee;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  bottom: 20%;
  h2{
    color: black;
    font-size: 22px;
    font-color: $link;
    line-height: 130%;
  }
  div {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  button {
    width: 70px;
    height: 40px;
    font-size: 18px;

  }
  width: 200px;
  height: 150px;
}
