@import 'variables';

.header {
  height: $header-height;
  background-color: $jam;
  display: flex;
  margin: auto;
  justify-content: center;

  button.nav{
    background: none;
    font-weight: bolder;
    color: white;
    border: 2px solid transparent;
    height: auto;
    padding: 5px;
    width: auto;
    transition: border .2s;
    &:hover{
      // color: white;
      border-bottom: 2px solid white;
    }
  }
  button.login{
    margin-left: 10px;
  }
  .active button{
    // border: 2px solid $button;
  }
  nav {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title{
      // font-family: 'Kalam', cursive;
      font-family: 'Indie Flower', cursive;
      letter-spacing: .05em;
      word-spacing: .1em;
      font-size: 24px;
      margin-left: 20px;
      color: white;
      text-decoration: none;
      font-weight: bold;
      user-select: none;
    }
    ul {
      // color: white;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      margin-right: 15px;
      h1 {
        font-size: 18px;
        color: white;
        opacity: 1;
        font-weight: bold;
      }
      li {
        margin-right: 5px;
      }
    }
  }
}
