@import 'variables';

.steps{
  display: flex;
  min-height: 150px;
  padding: 10px 0;
  background-color: transparentize($link, .8);
  align-items: center;
  justify-content: space-around;
  div {
    width: 25%
  }
  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px
  }
  p {
    text-align: center;
    font-size: 18px;

  }
}
