@import 'variables';

.steps{
  display: flex;
  height: 150px;
  background-color: transparentize($link, .8);
  align-items: center;
  justify-content: space-around;
  div {
    width: 25%
  }
  h2 {
    text-align: center;
    font-weight: bold;
    color: darken($link, 13);
    font-size: 22px;
    margin-bottom: 15px
  }
  p {
    text-align: center;
    font-size: 18px;

  }
}
.welcome {
  a {
    button {
      height: 100%;
      padding: 15px;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 22px;
    }
  }
}
